xterm*faceName: DejaVu Sans Mono Book
xterm*faceSize: 14
! colors
xterm*foreground: rgb:eb/db/b2
xterm*background: rgb:28/28/28
xterm*color0: rgb:28/28/28
xterm*color1: rgb:cc/24/1d
xterm*color2: rgb:98/97/1a
xterm*color3: rgb:d7/99/21
xterm*color4: rgb:45/85/88
xterm*color5: rgb:b1/62/86
xterm*color6: rgb:68/9d/6a
xterm*color7: rgb:a8/99/84
xterm*color8: rgb:92/83/74
xterm*color9: rgb:fb/49/34
xterm*color10: rgb:b8/bb/26 
xterm*color11: rgb:fa/bd/2f
xterm*color12: rgb:83/a5/98
xterm*color13: rgb:d3/86/9b
xterm*color14: rgb:8e/c0/7c
xterm*color16: rgb:eb/db/b2

xterm*ScrollBar: false
