xterm*faceName: DejaVu Sans Mono
xterm*faceSize: 12
! colors
xterm*foreground: rgb:eb/db/b2
xterm*background: rgb:28/28/28
*color0: rgb:28/28/28
*color1: rgb:cc/24/1d
*color2: rgb:98/97/1a
*color3: rgb:d7/99/21
*color4: rgb:45/85/88
*color5: rgb:b1/62/86
*color6: rgb:68/9d/6a
*color7: rgb:a8/99/84
*color8: rgb:92/83/74
*color9: rgb:fb/49/34
*color10: rgb:b8/bb/26 
*color11: rgb:fa/bd/2f
*color12: rgb:83/a5/98
*color13: rgb:d3/86/9b
*color14: rgb:8e/c0/7c
*color16: rgb:eb/db/b2

xterm*ScrollBar: false
